<script src="bower_components/angular/angular.js"></script>
<script src="scripts/trashPickup.js"></script>
<script src="scripts/main/main-ctrl.js"></script>
<link rel="stylesheet" href="/styles/main.css"/>
<div id="ng-app">
    <div ng-controller="MainCtrl">
        <input type="text" ng-model="q" placeholder="search"/>

        <div class="inline-block">
            <h2>Monday</h2>
            <ul>
                <li ng-repeat="row in data | filter: {day: 'monday'} | filter: {street: q}">{{row.street}}</li>
            </ul>
        </div>
        <div class="inline-block">
            <h2>Tuesday</h2>
            <ul>
                <li ng-repeat="row in data | filter: {day: 'tuesday'} | filter: {street: q}">{{row.street}}</li>
            </ul>
        </div>
        <div class="inline-block">
            <h2>Thursday</h2>
            <ul>
                <li ng-repeat="row in data | filter: {day: 'thursday'} | filter: {street: q}">{{row.street}}</li>
            </ul>
        </div>
        <div class="inline-block">
            <h2>Friday</h2>
            <ul>
                <li ng-repeat="row in data | filter: {day: 'friday'} | filter: {street: q}">{{row.street}}</li>
            </ul>
        </div>
    </div>
</div>